* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden!important;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
    overflow-x: hidden!important;
}


/* header */
header {
    background-color: var(--bg-color);
    padding-top: 20px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
    z-index: 999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
}

.logo {
    display: flex;
}

.logo__text {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.logo__text1 {
    font-size: 1.8rem;
    text-align: right;
    color: #fff;
}

.logo__text2 {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: right;
    color: #fff;
}

.nav__list {
    display: flex;
    justify-content: center;
}

.nav__item-link {
    display: inline-block;
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #C9D2DA;
    transition: 0.3s linear;
}

.nav__item-link:hover {
    color: #FFFFFF;
}


.nav__item-link--active {
    font-weight: 400;
    color: #FFFFFF;
}

.nav__item-link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    right: 6px;
    top: -2px;
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.access-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #C9D2DA;
    margin-right: 28px;
}

.btn-signup {
    width: 104px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
}

.btn-signup:hover,
.btn-login:hover {
    opacity: 0.9;
}

/* Hero */
.hero {
    margin-top: var(--header-height);  
    background-color: var(--bg-color);
    padding-top: 76px;
    padding-bottom: 110px;
}

.hero__content h2 {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.hero__content p {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
    max-width: 468px;
}

.hero__content a {
    margin-top: 38px;
    margin-right: 38px;   
}

.hero__content span {
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
}

.hero__img {
    display: flex!important;
    align-items: center;
    justify-content: flex-end;
}

.hero__img img {
    object-fit: cover;
    border-radius: 6px;
}

.hero__img1 {
    width: 60%;
    height: 540px;
    z-index: 1;
}

.hero__img2 {
    width: 40%;
    height: 410px;
    margin-left: -6px;
}

/* Service */
.service {
    padding: 170px 0px;
}

.service__heading--title {
    text-align: center;
}

.service__heading--desc {
    margin: 18px auto 70px;
    text-align: center;
}

.service__content--img img {
    width: 570px;
    max-width: 100%;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}



.service__content--paragraph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 106px;
}

.section-list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 470px;
    height: 128px;
    background: #FFFFFF;
    border-radius: 10px;
}

.section-list:hover {
    background: #FFFFFF;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.section-list:hover .section-wrapper {
    color: #fff;
    background-color: #2E80CE;
}

.section-wrapper {
    background: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    color:#10375C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.content__section-service {
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.content__section-service h3 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375C;
    margin-bottom: 8px;
}

.content__section-service p {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn__service {
    margin-top: 55px;
}

.btn__service:hover {
    opacity: 0.9;
}

/* Work */
.work {
    padding: 100px 0;
    background: #F7FBFF;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}


.work__item {
    border-radius: 4px;
    border: 16px solid #EAF6FF;
    padding: 44px;
    transition: 0.25s linear;
}

.work__item:hover {
    border: 16px solid #2E80CE;
    border-radius: 4px;
    transform: translateY(-16px);
}

.work__item:hover .work__more {
    text-decoration: underline;
}

.work__desc-icon {
    margin:18.9px 0 28px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375C;
}

.work__item:first-child .work__desc-icon {
    margin-top: 20.25px;
}

.work__item:last-child .work__desc-icon {
    margin-top: 35px;
}

.work-icon-content {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #575F66;
    margin-bottom: 18px;
}

.work__more {
    font-size: 16px;
    line-height: 1.75;
    color: #2E80CE;
}

/* Feature */
.feature {
    padding: 170px 0;
}

.feature-wrapper {
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: center;
}

.feature__image {
    width: 48%;
    max-width: 100%;
    padding-bottom: 121px;
    padding-right: 58px;
    position: relative;
    height: 491px;
}


.feature__img:first-child {
    width: 512px;
    height: 370px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 332px;
    max-width: 100%;
    height: 370px;
    object-fit: cover;
}

.feature-btn {
    margin-top: 38px;
}

.feature-btn:hover {
    opacity: 0.9;
}

/* Member */
.member {
    padding-bottom: 170px;
}

.member-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.member__heading-title {
    text-align: center;
}

.member-btn {
    margin:38px 0px 70px 0;
}

.member-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}

.member-item:hover .member-item-bg{
    transform: scale(1.05);
}

.member-item-bg {
    border-radius: 6px;
    padding: 28px 4px 0;
    background: #EAF6FF;
    transition: 0.25 ease;
}

.member-item-bg img {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.member__info {
    margin-top: 12px;
    text-align: center;
}

.member__info-name {
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #10375C;
    font-weight: 500;
}

.member__info-desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #575F66;
}

.control-member-btn {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
}

.control-member-link {
    color: #575F66;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    width: 36px;
    height: 36px;
    border: 1px solid #575F66;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.control-member-link:hover {
    background: #2E80CE;
    border: 1px solid #2E80CE;
    color: white;
}
/* Install */
.install {
    padding:95px 0 170px 0;
}

.install-inner {
    background: #2E80CE;
    border-radius: 4px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    gap: 160px;
}

.install-inner-img img{
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}

.install-content--title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    max-width: 489px;
}

.install-content--desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #FFFFFF;
}

.install-app {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

.install_app-link {
    display: inline-block;
}

.install_app-link img {
    display: block;
}











